- content_for :head do
  = auto_discovery_link_tag(:rss, "http://#{SITE}/latest_comments.rss", :title=>"Latest Comments") 
  = auto_discovery_link_tag(:rss, "http://#{SITE}/newest_members.rss", :title=>"Newest Members") 

%div
  %img.left{ :src=>"/images/main_graphic.jpg" , :class=>"left"  , :title=>"main graphic" , :alt=>"main graphic" }
  .front_right_column.right{ :style=>"margin-top: 0px;"}
    = render :partial => 'profiles/featured', :locals => {:profile => Profile.featured_profile[:profile]} 
    .clear


  %div
    #front_left_column.left
      %h2 Latest Comments
      = render :partial => 'comments/comment', :collection => recent_comments
      %h2 Newest Forum Topics
      = render :partial => 'forum_topics/new_topic', :collection => recent_forum_posts

    #front_middle_column.left
      %h2 Newest Members
      = render :partial => 'profiles/newest_member', :collection => new_members 

    .front_right_column.right
      %h2 Newest Pictures
      - newest_pictures.each do |picture|
        .image.left.small_down_image
          = link_to image(picture, :small), profile_photos_path(picture.profile) 

      .clear

    .clear