!!! Strict
%html
  %head
    %meta{ "http-equiv"=>"Content-Type" , "content"=>"text/html; utf-8" }
    %meta{ "name"=>"description" , "content"=>"" }
    %title= @title || SITE_NAME
    = javascript_include_tag :defaults, 'jquery', 'thickbox', 'less_routes', 'truncator', :cache=>true 
    = stylesheet_link_tag 'reset', 'ie', 'application', :cache=>true
    /[if lt IE 7.]
      <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
  %bodt
    %div{ "style" => "height: 50px;" }
    = link_to image_tag("logo.png", :class=>"png", :style=>"margin-bottom: 20px;"), home_url 
    #plain_wrapper
      .pad2
        = display_standard_flashes
        = yield
      .clear
