- less_form_for @user, :url => login_path, :method => :post do |f| 
  
  #login_form
    %h1 Log-in your Account
    .instruction
      = link_to "Oops, I need an account!", signup_url
    = f.text_field :login, :class => "focus_first" 
    = f.password_field :password 
    = f.wrap(:remember_me, :for => :remember_me){ check_box_tag 'remember_me',1,false, :class=>"checkbox" } 

    .button
      = f.submit 'Log-in Now', :class=>'button' 
  
  .instruction
    %span 
      I <span id="forgot_text">forgot</span> my 
      <a href="javascript:void(0);" id="forgot_password_clicker" style="display: inline;">password</a>

  #forgot_form.hidden
    %h1 Retrieve My Password
    .instruction Enter email address and your password will be sent to you.
    #forgot_password= f.text_field :email, :label => "Enter Email Address" 

    .button= f.submit 'Retrieve Password', :class => 'button' 

:javascript
  jQuery(function(){
    tog("#forgot_password_clicker", "#login_form");
    tog("#forgot_password_clicker", "#forgot_form", forgot_text);

  });
  function forgot_text(){
    if (jQuery("#forgot_text").html() == "forgot")
    jQuery("#forgot_text").html("remember");
    else
    jQuery("#forgot_text").html("forgot");

  }
